{% extends "joc/base.html" %}
{% load i18n %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/estil_usuaris.css" %}">
{% endblock stylesheets %}

{% block title %}Classificació{% endblock %}

{% block navegacio %}
&nbsp;&nbsp;&gt;&nbsp;&nbsp;
<a href="{% url 'joc:classificacio' %}">Classificació</a>
{% endblock navegacio %}

{% block content %}
<div class="requadre">
  <h1>Classificació</h1>
  <p class="ultima_actualitzacio">Última actualització: {{ ultima_actualitzacio }}</p>

  <table class="taulaclassificacio" width="100%">
    <tr>
      <th>Pos</th>
      <th></th>
      <th>Jugador</th>
      <th>Punts</th>
      <th></th>
    </tr>
    {% for jugador in object_list %}
    <tr class="{% cycle 'fila_parell' 'fila_senar' %}">
      <td align="center">
        {{ jugador.posicio }}
        {% if jugador.dif_pos > 0 %}
          <span class="puja">▲{{ jugador.dif_pos }}</span>
        {% elif jugador.dif_pos < 0 %}
          <span class="baixa">▼{{ jugador.dif_pos|cut:"-" }}</span>
        {% else %}
          <span class="igual">–</span>
        {% endif %}
      </td>
      <td align="center">
        {% if jugador == request.user.jugador %}
          <span class="tu">★</span>
        {% endif %}
      </td>
      <td>{{ jugador.usuari.first_name|default:jugador.usuari.username }}</td>
      <td align="center"><strong>{{ jugador.punts }}</strong></td>
      <td align="center">
        {% if jugador.dif_punts > 0 %}
          <span class="puja">(+{{ jugador.dif_punts }})</span>
        {% elif jugador.dif_punts < 0 %}
          <span class="baixa">({{ jugador.dif_punts }})</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
