{% extends "joc/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Welcome!' %}{% endblock %}

{% block content %}

{% block nav %}
<ul class="nav">
    {% if fase_mundial == 'pronostics' %}
        <li><a class="indexButton" href="{% url 'joc:pronostic' %}">{% trans "Fes el pronòstic" %}</a></li>
        <li><a class="indexButton" href="{% url 'joc:consulta' %}">{% trans "Consulta el teu pronòstic" %}</a></li>
        {% if pronostic_acabat %}
        <li><a class="indexButton" href="{% url 'joc:consulta_grups' %}">{% trans "Consulta els teus grups" %}</a></li>
        {% endif %}
        <li><a class="indexButton" href="{% url 'joc:usuaris' %}">{% trans "Llistat d'usuaris" %}</a></li>
        <li><a class="indexButton" href="{% url 'joc:puntuacions' %}">{% trans "Puntuacions" %}</a></li>
    {% else %}
        <li><a class="indexButton" href="{% url 'joc:classificacio' %}">{% trans "Classificació" %}</a></li>
        <li><a class="indexButton" href="{% url 'joc:consulta' %}">{% trans "Consulta el teu pronòstic" %}</a></li>
        {% if pronostic_acabat %}
        <li><a class="indexButton" href="{% url 'joc:consulta_grups' %}">{% trans "Consulta els teus grups" %}</a></li>
        {% endif %}
        <li><a class="indexButton" href="{% url 'joc:usuaris' %}">{% trans "Llistat d'usuaris" %}</a></li>
        <li><a class="indexButton" href="{% url 'joc:puntuacions' %}">{% trans "Puntuacions" %}</a></li>
    {% endif %}
</ul>
{% endblock %}

{% endblock %}
