{% extends "joc/base.html" %}
{% load i18n %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/estil_grup.css" %}">
{% endblock stylesheets %}

{% block title %}Tercers empatats{% endblock %}

{% block navegacio %}
&nbsp;&nbsp;&gt;&nbsp;&nbsp;
<a href="{% url 'joc:pronostic' %}">Entrada de Resultats</a>
&nbsp;&nbsp;&gt;&nbsp;&nbsp;
Tercers empatats
{% endblock navegacio %}

{% block content %}

<h4>
Hi ha un empat entre els tercers classificats en les posicions 8 i 9!
</h4>
<div id="avis">
Els 8 millors tercers passen als setzens de final. Com que hi ha un empat en la posició de tall,
el sistema no pot determinar automàticament quins equips passen.<br><br>
Pots tornar enrere i canviar algun resultat per desfer l'empat, o continuar i el sistema
escollirà aleatòriament quin dels equips empatats passa als setzens de final.
</div>
<br><br>
<div id="classificacio_tercers">
<table width="450" align="center">
<tr><td colspan="7" class="dia">CLASSIFICACIÓ TERCERS CLASSIFICATS:</td></tr>
<tr>
<td class="negreta_bandera">Grup</td>
<td class="negreta_bandera">Bandera</td>
<td class="negreta">Selecció</td>
<td class="negreta">Punts</td>
<td class="negreta">Diferència</td>
<td class="negreta">Gols</td>
<td class="negreta">Victòries</td>
</tr>
{% for tercer in tercers %}
<tr>
<td><a href="{% url 'joc:pronostic' %}?grup={{ tercer.equip.grup.nom }}">{{ tercer.equip.grup.nom }}</a></td>
<td class="class_bandera"><img src="{% with 'banderes/'|add:tercer.equip.bandera as bandera %}{% static bandera %}{% endwith %}" height="{{ height_banderes }}" width="{{ width_banderes }}" border="{{ border_banderes }}"></td>
<td class="classif"><a href="{% url 'joc:pronostic' %}?grup={{ tercer.equip.grup.nom }}">{{ tercer.equip.nom }}</a></td>
<td align="center" class="classif">{{ tercer.punts }}</td>
<td align="center" class="classif">{{ tercer.diferencia }}</td>
<td align="center" class="classif">{{ tercer.favor }}</td>
<td align="center" class="classif">{{ tercer.victories }}</td>
</tr>
{% endfor %}
</table>
</div>

<div class="boto_next">
<form action="{% url 'joc:pronostic' %}" method="get">
<input name="seguent" type="submit" class="boto_index" value="Continua">
<input name="grup" type="hidden" value="M">
</form>
</div>

{% endblock %}
