{% extends "joc/base.html" %}
{% load i18n %}

{% block title %}Entra{% endblock %}

{% block content %}
<br>
<form method="post" action="">
    {% csrf_token %}
    <table align="center">
        <tr><th>Nom d'usuari:</th><td>{{ form.username }}</td></tr>
        <tr><th>Contrasenya:</th><td>{{ form.password }}</td></tr>
    </table>
    <p align="center">
        <input type="submit" value="Entra" />
        <input type="hidden" name="next" value="{{ next }}" />
    </p>
</form>
<p align="center">Encara no tens compte? <a href="{% url 'django_registration_register' %}">Registra't</a>.</p>
{% endblock %}
